.preview {
  flex-basis: 50%;
  background-color: grey;
}
.title {
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  /* list-style: none; */
  align-items: center;
  padding-left: 0;
}
