@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* @value 선언 변수명,변수명 from '../../(현재 폴더에서 나가고 나가고)/common/colors.css' */

.box {
  background-color: lightslategray;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  /* border-radius: 3rem; */
  /* width: 25rem; */
  position: relative;
}
.logo {
  width: 4rem;
  height: 3rem;
  padding-right: 1rem;
}

.title {
  margin: 0;
}

.logout {
  position: absolute;
  /* 이러면 상대 부모의 포지션이 static이 아닌것이 되야되며 부모에는 top, left같은 것이 없기때문에 상관없어! 
  이렇게되면 로그아웃의 포지션은 헤더의 기준으로 변경돼!*/
  right: 1em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  border: none;
  outline: 0;
  cursor: pointer;
}
